body{    
    background : $background;
    // background-image : url($img-path + 'test-img.jpg');
    text-align: center;
    h1{
        color: $h1-color;
        font-family : 'open_sansbold';
    }
}
